{
  "coords": { "lat": "51.47787", "lon": "-0.00147" },
  "radius": 15,
  "userAgent": "",

  "discord": {
    "bot": { "token": "" },
    "channelId": ""
  },
  "owm": { "apiKey": "" },
  "pushover": { "user": "", "token": "" }
}