{
  "coords": { "lat": "51.47787", "lon": "-0.00147" },

  "radius": 15,
  "interval": 30,

  "discord": {
    "method": "webhook",

    "webhookUrl": "",

    "bot": {
      "endpoint": "",
      "channelId": ""
    }
  },

  "owm": { "apiKey": "" },

  "pushover": { "user": "", "token": "" }
}